<%- include('../partials/head') %>


<body>
    


<header>

    <img src="/Images/LPC WT.svg" alt="" class="logo">
    <input type="checkbox" id="check"  class="check">

   
        

    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/">Wiki</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <label for="check" class="check-label">

    <span>  </span>
    </label>
</header>
    <!-- <div class="titre"> <h1> Contact </h1></div> -->


     <form action="">

        <p>N’hésitez pas à nous envoyer un message en remplissant le formulaire.</p>
      <div class="finp">
        <input type="text" placeholder="E-mail" required><br>
        <input type="text" placeholder="Nom" required><br>
        <input type="text" placeholder="Votre message" required><br>
    </div>

    <div class="fsub">
        <input type="submit" value="Envoyer le message" name="" id="" ><br><br><br><br>
        <button onclick="document.location='index.html'"> Page d'accueil </button>

    
    </div>  

     </form>
    


    <footer>
        &copy; 2023 Watch Galerie
    </footer>
</body>
</html>