<%- include('../partials/head') %>


<body>
    


<header>

    <img src="/Images/LPC WT.svg" alt="" class="logo">
    <input type="checkbox" id="check"  class="check">

   
        

    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/">Wiki</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <label for="check" class="check-label">

        <span>  </span>
    </label>
</header>

<img src="Images/Glycine1.jpg" alt="" class="head-img">

<!-- <section>  
<article>
    <img src="Images/Boderry_voyager.JPG" alt="" class="img--article" >
<h2>Titre</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati excepturi eaque, labore aliquid libero accusantium, similique, a molestiae adipisci inventore earum suscipit officiis nihil reiciendis doloremque fugiat! Voluptate, facilis nemo.
Voluptatem molestiae sapiente, saepe temporibus, dolorem dolor sequi fugit facere delectus eaque recusandae eius omnis dolore necessitatibus cupiditate laboriosam modi unde nostrum doloribus est et culpa. Nostrum unde cupiditate tempore?
Quod voluptatibus, molestiae cupiditate pariatur quo dolorem accusamus sint iusto voluptate doloribus error repellat architecto mollitia quidem voluptas officiis! Magni, sit a alias perspiciatis fugit ad illo et natus libero!
!</p>
</article>

<article>

    <img src="Images/seiko.JPG" alt="" class="img--article">
    <h2>Titre</h2>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati excepturi eaque, labore aliquid libero accusantium, similique, a molestiae adipisci inventore earum suscipit officiis nihil reiciendis doloremque fugiat! Voluptate, facilis nemo.
    Voluptatem molestiae sapiente, saepe temporibus, dolorem dolor sequi fugit facere delectus eaque recusandae eius omnis dolore necessitatibus cupiditate laboriosam modi unde nostrum doloribus est et culpa. Nostrum unde cupiditate tempore?
    Quod voluptatibus, molestiae cupiditate pariatur quo dolorem accusamus sint iusto voluptate doloribus error repellat architecto mollitia quidem voluptas officiis! Magni, sit a alias perspiciatis fugit ad illo et natus libero!
    !</p>
    </article>



    <article>

        <img src="Images/casio.JPG" alt="" class="img--article">

        <h2>Titre</h2>
        
        
        
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati excepturi eaque, labore aliquid libero accusantium, similique, a molestiae adipisci inventore earum suscipit officiis nihil reiciendis doloremque fugiat! Voluptate, facilis nemo.
        Voluptatem molestiae sapiente, saepe temporibus, dolorem dolor sequi fugit facere delectus eaque recusandae eius omnis dolore necessitatibus cupiditate laboriosam modi unde nostrum doloribus est et culpa. Nostrum unde cupiditate tempore?
        Quod voluptatibus, molestiae cupiditate pariatur quo dolorem accusamus sint iusto voluptate doloribus error repellat architecto mollitia quidem voluptas officiis! Magni, sit a alias perspiciatis fugit ad illo et natus libero!
        !</p>
        </article>


        <article>

               <img src="Images/seagull.JPG" alt="" class="img--article">
            <h2>Titre</h2>
         
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati excepturi eaque, labore aliquid libero accusantium, similique, a molestiae adipisci inventore earum suscipit officiis nihil reiciendis doloremque fugiat! Voluptate, facilis nemo.
            Voluptatem molestiae sapiente, saepe temporibus, dolorem dolor sequi fugit facere delectus eaque recusandae eius omnis dolore necessitatibus cupiditate laboriosam modi unde nostrum doloribus est et culpa. Nostrum unde cupiditate tempore?
            Quod voluptatibus, molestiae cupiditate pariatur quo dolorem accusamus sint iusto voluptate doloribus error repellat architecto mollitia quidem voluptas officiis! Magni, sit a alias perspiciatis fugit ad illo et natus libero!
            !</p>
            </article>
</section> -->

<footer>
    <span class="foot ">&copy; 2023 Les petits cadrans</span>
    
</footer>

</body>
</html>